  /* Estilos de botones */
  .boton{
    border: none;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;         
    border-radius: 0.3rem;
    display: inline-block;
    width: 45%;
    color: map-get($paleta, 'main'); 
    white-space: normal;
    word-wrap: break-word;
    &:hover{
        background-position: right center;
        text-decoration: none;
        transform: scale(1.03);
    }
}

.btn-grad{
    @extend .boton;
    background-image: linear-gradient(to right, map-get($paleta, 'secondary'), #f8ca38  51%, #ffd753  100%);
}

.btn-grad-reset{
    @extend .boton;
    background-image: linear-gradient(to right, #cccccc 0%, #e0e0e0  51%, map-get($paleta, 'light') 100%)
}

#botonHome{
    @extend .btn-grad;
    font-size: $textXl;
    width: 70%;
    margin: 0;
}
